* {

    box-sizing: border-box;
}

html , body , main {

    font-family: sans-serif , serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb( 225,225,225 );
    /* color: #fff; */
}

header {

    display: flex;
    align-items: center;
}

pre {

    background: rgb( 32,32,54 );
    color: #fff;
    padding: 2.5vh 0;
    border-radius: 8px 0px;
}

code {
    text-align: left; 
}

.tag {

    color: rgb( 186,54,52 );
}

.attr {

    color: rgb( 52,186,52 );
}

.string {

    color: rgb(202, 117, 20);
}

main {

    width: 65%;
    margin: auto;
    min-width: 285px;
}

.comment {
    color: rgb( 165,165,165 );
}