* {

    box-sizing: border-box;
}

pre {

    background: rgb( 32,32,54 );
    color: #fff;
    padding: 2.5vh 0;
}

code {
    text-align: left;
    color: #fff; 
}

.contain {

    width: 80%;
    margin: auto;
}

.tag {

    color: rgb( 186,54,52 );
}

.attr {

    color: rgb( 52,186,52 );
}

.string {

    color: rgb(202, 117, 20);
}

.comment {
    color: rgb( 165,165,165 );
}